
form{
  padding: 60px;
  max-width: 400px;
  background-color: #43989e7d;
  margin: 0 auto;
  font-family: cursive;
  color:#000000; 
}
form input{
  margin-bottom: 15px;
  font-family: sans-serif;
  width: 100%;
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  border: none; 
  color: #272525b8;
  background-color: #dcdcdcd4;
  font-size: 1em;
  resize: horizontal; 
}
h1{
  color:#fff;
  font-size: 50;
}
p{
font: message-box;
color:#fff;
}

form{
  color:#FFF;
}
  
}
.titulo{
  
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
  color: #642a73;

}
nav{
  text-align:right;
  padding:30px 50px 0 0;
}
nav > a{
  color:#1d1b1b;
  font-weight: 300;
  text-decoration:none;
  margin-right:10px;
}
nav > a:hover{
  text-decoration: underline;
}



.final{
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
    color: #9e9797;
    
}